<?xml version='1.0' encoding='utf-8'?>
<plugin id="true" version="true" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ReportFullyDrawnPlugin</name>
    <js-module name="ReportFullyDrawnPlugin" src="www/ReportFullyDrawnPlugin.js">
        <clobbers target="cordova.plugins.ReportFullyDrawnPlugin" />
    </js-module>
</plugin>
